<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
  xsi:schemaLocation="
    http://java.sun.com/xml/ns/javaee
    http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
  version="2.5">
  <display-name>dcm4chee-arc</display-name>
  <servlet>
    <servlet-name>dcm4chee-arc</servlet-name>
    <servlet-class>org.dcm4chee.archive.ArchiveServlet</servlet-class>
    <init-param>
      <param-name>ldapPropertiesURL</param-name>
      <param-value>file:${jboss.server.config.dir}/dcm4chee-arc/ldap.properties</param-value>
    </init-param>
    <init-param>
      <param-name>deviceName</param-name>
      <param-value>dcm4chee-arc</param-value>
    </init-param>
    <init-param>
      <param-name>jmxName</param-name>
      <param-value>dcm4che:dcm4chee=dcm4chee-arc</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
</web-app>